@font-face {
  font-family: "CircularStd-Medium";
  src: url(./fonts/CircularStd-Medium.otf);
  src: url(./fonts/CircularStd-Light.otf);
  /* src: url(./fonts/CircularStd-Black.otf);
  src: url(./fonts/CircularStd-BlackItalic.otf);
  src: url(./fonts/CircularStd-Bold.otf);
  src: url(./fonts/CircularStd-BoldItalic.otf);
  src: url(./fonts/CircularStd-Book.otf);
  src: url(./fonts/CircularStd-BookItalic.otf);
  src: url(./fonts/CircularStd-LightItalic.otf);
  src: url(./fonts/CircularStd-MediumItalic.otf); */
}

body {
  font-family: "CircularStd-Medium";
}

button {
  font-family: "CircularStd-Light";
}

#shadow-white {
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5) !important;
}

#margin {
  margin-top: 120px;
}

#bottom-menu {
  margin-bottom: 25px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}