@font-face {
  font-family: "CircularStd-Medium";
  src: url(./fonts/CircularStd-Medium.otf);
  src: url(./fonts/CircularStd-Light.otf);
  /* src: url(./fonts/CircularStd-Black.otf);
  src: url(./fonts/CircularStd-BlackItalic.otf);
  src: url(./fonts/CircularStd-Bold.otf);
  src: url(./fonts/CircularStd-BoldItalic.otf);
  src: url(./fonts/CircularStd-Book.otf);
  src: url(./fonts/CircularStd-BookItalic.otf);
  src: url(./fonts/CircularStd-LightItalic.otf);
  src: url(./fonts/CircularStd-MediumItalic.otf); */
}

/* general */
p {
  margin: 0;
}

#navTop {
  background-color: rgba(27, 28, 30, 0.951);
}

body {
  font-family: "CircularStd-Medium";
  background-color: rgba(21, 23, 26, 0.951);
}

button {
  font-family: "CircularStd-Light";
}

#shadow-white {
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5) !important;
}

#margin {
  margin-top: 120px;
}

#bottom-menu {
  margin-bottom: 25px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)30%, rgba(0, 0, 0, 0.775) 60%, rgba(0, 0, 0, 0));
}

#bootom-top {
  margin-bottom: 120px;
}

#playPanel {
  background-color: rgba(55, 58, 63, 0.951);
}

/* .card {
  background: linear-gradient(150deg, #3f3f3f, #212529 40%);
} */

/* left desktop */
aside.fixed-start {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

/* list */
#leftList {
  height: calc(100vh - 250px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #444 #000;
}


/* right desktop */
section.fixed-end {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* card */
.desktopRightCard p {
  font-size: 0.8rem;
}