@font-face {
  font-family: "CircularStd-Medium";
  src: url(./fonts/CircularStd-Medium.otf);
  src: url(./fonts/CircularStd-Light.otf);
  /* src: url(./fonts/CircularStd-Black.otf);
  src: url(./fonts/CircularStd-BlackItalic.otf);
  src: url(./fonts/CircularStd-Bold.otf);
  src: url(./fonts/CircularStd-BoldItalic.otf);
  src: url(./fonts/CircularStd-Book.otf);
  src: url(./fonts/CircularStd-BookItalic.otf);
  src: url(./fonts/CircularStd-LightItalic.otf);
  src: url(./fonts/CircularStd-MediumItalic.otf); */
}

/* general */
p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* main */

@media (min-width: 992px) {
  .myTitle {
    font-size: 1.7rem;
  }

  .myTitle2 {
    font-size: 1.4rem;
  }

  /* .myCard {

  } */
}

main {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #444 #000;
}

/* card center */
#cardCenter {
  background: linear-gradient(185deg, #00000000, #000000 100%);
}

#annunci {
  font-size: 0.6rem;
}

/* lidia */
.lidia-p {
  font-size: 0.7rem;
}

#navTop {
  background-color: rgba(27, 28, 30, 0.951);
}

body {
  font-family: "CircularStd-Medium";
  background-color: rgba(21, 23, 26, 0.951);
}

button {
  font-family: "CircularStd-Light";
}

#shadow-white {
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5) !important;
}

#margin {
  margin-top: 120px;
}

#bottom-menu {
  margin-bottom: 50px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.775) 60%, rgba(0, 0, 0, 0));
}

#bootom-top {
  margin-bottom: 140px;
}

#playPanel {
  background-color: rgba(55, 58, 63, 0.951);
}

/* .card {
  background: linear-gradient(150deg, #3f3f3f, #212529 40%);
} */

/* left desktop */
aside.fixed-start {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

/* list */
#leftList {
  height: calc(100vh - 250px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #444 #000;
}

/* right desktop */
section.fixed-end {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* card */
.desktopRightCard p {
  font-size: 0.8rem;
}

#footer-play {
  background-color: #121212;
}

/* playpanel desktop */
.icon-toggle {
  position: relative;
  cursor: pointer;
}

.icon-toggle input:checked+i {
  color: #1db954;
}

.icon-toggle input:checked+i::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1db954;
}

/* cuore */
.icon-toggle-heart {
  cursor: pointer;
}

.icon-toggle-heart input:checked+i {
  color: #1db954;
}

/* buonasera margin */
@media (max-width: 991px) {
  #buonaseraTop {
    margin-top: 100px;
  }
}

/* playlistLove */
#playlistLove {
  margin-bottom: 240px;
}